{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_bookstop.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">  
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">

</head>
<body class="tm-gray-bg">
    <div class="container">
        <h2 class="tm-banner-title text-center" >Tienda</h2><br><br>
        <div class="row" >
            {% for tienda in objetos %}
            <div class="col-12 col-md-4">
                <div class="card text-center img-responsive" style="background-color: rgb(23, 50, 129);">
                    <br>
                    {% if tienda.imagen %}
                        <img src="{{ tienda.imagen.url }}" class="card-img-top mx-auto" style="height: 220px; width: 220px;" >
                    {% else %}
                        <img src="{% static 'img/logopestaña.jpg' %}" class="card-img-top mx-auto">
                    {% endif %}
                    <br><br>
                    <div class="card-body" style="background-color: rgb(4, 101, 104);">
                        <br>
                        <h4 class="card-title">
                            Codigo: {{ tienda.codigo }}
                        </h4>
                        <p class="card-text" style="color: rgb(255, 157, 0);">
                            Descripcion: {{ tienda.descripcion }} <br>
                            Precio: {{ tienda.precio }}<br>
                            Stock: {{ tienda.stock }}<br>
                        </p>
                        <br>
                        <a href="{% url 'index' %}" class="btn btn-warning">Inicio</a>
                        <a href="{% url 'login' %}" class="btn btn-success">Agregar</a> 
                        
                        <br><br><br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}